// 2017-04-17
form.dfe_robokassa {
	ul.df-options.df-level-2 {
		-moz-column-gap: 1em; -webkit-column-gap: 1em; column-gap: 1em;
		.columns(@c) {-moz-column-count: @c; -webkit-column-count: @c; column-count: @c;}
		@media (min-width: 570px) {.columns(2);}
		@media (min-width: 1400px) {.columns(3);}
	}
	.df-choice label {display: inline-block; color: transparent;}
	// 2017-04-17 Сбербанк
	.df-option-BankSberBank label {background: url('./i/sberbank.png'); width: 200px; height: 49px;}
	// 2017-04-17 Альфа-Банк
	.df-option-AlfaBank label {background: url('./i/alfabank.png'); width: 169px; height: 50px;}
	// 2017-04-17 Банк Русский Стандарт
	.df-option-BankRSB label {
		background: url('./i/rsb.png') center no-repeat;
		width: 200px; height: 37px; padding: 6px 0;
	}
}