<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<robokassa>
				<countries>RU</countries>
				<country_restriction>whitelist</country_restriction>
				<currency>RUB</currency>
				<description>{store.domain} // {customer.name} // {order.id}</description>
				<optionsLocation>magento</optionsLocation>
				<payment_action>authorize_capture</payment_action>
				<requireBillingAddress>1</requireBillingAddress>
				<title>Robokassa</title>
				<title_backend>Robokassa</title_backend>
			</robokassa>
		</df_payment>
        <payment>
            <dfe_robokassa>
				<model>Dfe\Robokassa\Method</model>
            </dfe_robokassa>
        </payment>
    </default>
</config>