<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<robokassa>
				<countries>RU</countries>
				<country_restriction>whitelist</country_restriction>
				<currency>RUB</currency>
<!-- 2001-04-16
Сделал значением по умочанию {order.items}, потому что это именно то, что рекомендует документация ПС:
https://github.com/mage2pro/robokassa/blob/0.1.2/Charge.php#L20-L39
[Mage2.PRO] Which variables can I use in a payment's description? https://mage2.pro/t/1834
-->
				<description>{order.items}</description>
				<payment_action>authorize_capture</payment_action>
				<requireBillingAddress>1</requireBillingAddress>
				<title>Robokassa</title>
				<title_backend>Robokassa</title_backend>
			</robokassa>
		</df_payment>
        <payment>
            <dfe_robokassa>
				<model>Dfe\Robokassa\Method</model>
            </dfe_robokassa>
        </payment>
    </default>
</config>