<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<robokassa>
				<countries>RU</countries>
				<country_restriction>whitelist</country_restriction>
				<currency>RUB</currency>
<!-- 2001-04-16
Сделал значением по умочанию {order.items}, потому что это именно то, что рекомендует документация ПС:
https://github.com/mage2pro/robokassa/blob/0.1.2/Charge.php#L20-L39
[Mage2.PRO] Which variables can I use in a payment's description? https://mage2.pro/t/1834
-->
				<description>{order.items}</description>
				<description_rules>
					<locations>
						<merchant>
							<shown>1</shown>
						</merchant>
					</locations>
					<maxLength>
						<title>«Installation and setup of ROBOKASSA script (module)» → «Description of variables, parameters and values» → «MANDATORY PARAMETERS». See the «InvDesc» parameter.</title>
						<url>http://docs.robokassa.ru/en#2505</url>
						<value>100</value>
					</maxLength>
				</description_rules>
<!-- 2017-08-14
Note 1:
*) Param name: `InvId`
*) Param type and limitations: «It may vary from 1 to 2147483647 (2^31-1)».
*) Reference:
	1) In Russian: http://docs.robokassa.ru/ru#1194
	2) In English: http://docs.robokassa.ru/en#2509
Note 2:
`Magento 2.0.x and 2.1.x both depend on the «ctype» PHP extension, but they do not document it`:
https://mage2.pro/t/4274
-->
				<identification_rules>
					<ctype_digit/>
					<max_int>2147483647</max_int>
				</identification_rules>
				<optionsLocation>magento</optionsLocation>
				<optionsPrompt><![CDATA[Пожалуйста, выберите способ оплаты и нажмите внизу кнопку «<b>Оплатить</b>»]]></optionsPrompt>
				<payment_action>authorize_capture</payment_action>
				<requireBillingAddress>0</requireBillingAddress>
				<title>Robokassa</title>
				<title_backend>Robokassa</title_backend>
			</robokassa>
		</df_payment>
        <payment>
            <dfe_robokassa>

<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\Robokassa\Method</model>
            </dfe_robokassa>
        </payment>
    </default>
</config>