<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<virtualType name='Dfe\Robokassa\Controller\Index\Index' type='Df\Payment\W\Action'/>
	<virtualType name='Dfe\Robokassa\Controller\CustomerReturn\Index' type='Df\Payment\CustomerReturn'/>
	<virtualType name='Dfe\Robokassa\W\Handler' type='Df\PaypalClone\W\Handler'/>
</config>