<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!--
2015-09-25
1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
в английском алфавите.
-->
			<group
				id='robokassa'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1601'
				translate='label'
			>
				<label>Robokassa</label>
				<dfExtension>Dfe_Robokassa</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/robokassa' target='_blank'>Robokassa</a>» payment extension?]]></comment>
				</field>
				<field
					id='title'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='merchantID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='text'
				>
					<label>Shop Identifier</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/3667' target='_blank'>How to get it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Test Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testPassword1'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
					type='obscure'
				>
					<label>Test Password #1</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/3667' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
<!-- 2017-04-12
«This is for the payment initiation interface.
It must by at least 8 characters long and contain at least one letter and one digit.»
http://docs.robokassa.ru/en#5197
Раньше тут ещё стояло: «validate-length minimum-length-8».
Однако валидатор ложно срабатывает на звёздочки ранеё введённого пароля.
-->
					<validate>required-entry</validate>
				</field>
				<field
					id='testPassword2'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='6'
					translate='label'
					type='obscure'
				>
					<label>Test Password #2</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/3667' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
<!-- 2017-04-12
«This is for the payment initiation interface.
It must by at least 8 characters long and contain at least one letter and one digit.»
http://docs.robokassa.ru/en#5197
Раньше тут ещё стояло: «validate-length minimum-length-8».
Однако валидатор ложно срабатывает на звёздочки ранеё введённого пароля.
-->
					<validate>required-entry</validate>
				</field>
				<field
					id='livePassword1'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='7'
					translate='label'
					type='obscure'
				>
					<label>Live Password #1</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/3667' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
<!-- 2017-04-12
«This is for the payment initiation interface.
It must by at least 8 characters long and contain at least one letter and one digit.»
http://docs.robokassa.ru/en#5197
Раньше тут ещё стояло: «validate-length minimum-length-8».
Однако валидатор ложно срабатывает на звёздочки ранеё введённого пароля.
-->
					<validate>required-entry</validate>
				</field>
				<field
					id='livePassword2'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='8'
					translate='label'
					type='obscure'
				>
					<label>Live Password #2</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/3667' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
<!-- 2017-04-12
«This is for the payment initiation interface.
It must by at least 8 characters long and contain at least one letter and one digit.»
http://docs.robokassa.ru/en#5197
Раньше тут ещё стояло: «validate-length minimum-length-8».
Однако валидатор ложно срабатывает на звёздочки ранеё введённого пароля.
-->
					<validate>required-entry</validate>
				</field>
<!-- 2017-04-12
Whether Robokassa requires a merchant's website to be served over HTTPS? https://mage2.pro/t/3672
-->
				<field
					dfWebhook_requireHTTPS='true'
					id='urlResult'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='9'
					translate='label'
					type='Df\Framework\Form\Element\Webhook'
				>
					<label>Result Url</label>
					<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3667' target='_blank'>Set it in your Robokassa account</a>.</li><li class='df-note'>Select «<b>POST</b>» as a value of the «<b>Method of sending data to Result Url</b>» option in your Robokassa account.</li></ul>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='urlCustomerReturnSuccess'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='10'
					translate='label'
					type='Df\Payment\FE\CustomerReturn'
				>
					<label>Success Url</label>
					<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3667' target='_blank'>Set it in your Robokassa account</a>.</li><li class='df-note'>Select «<b>GET</b>» as a value of the «<b>Method of sending data to Success Url</b>» option in your Robokassa account.</li></ul>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='urlCustomerReturnFailure'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='11'
					translate='label'
					type='Df\Payment\FE\CustomerReturn'
				>
					<label>Fail Url</label>
					<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3667' target='_blank'>Set it in your Robokassa account</a>.</li><li class='df-note'>Select «<b>GET</b>» as a value of the «<b>Method of sending data to Fail Url</b>» option in your Robokassa account.</li></ul>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='description'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='12'
					translate='label'
					type='textarea'
				>
					<comment model='Df\Payment\Comment\Description'/>
<!-- 2016-07-01
We do not use the `validate-length` validator here
because the value can contain variables, so do not know the real length here. -->
					<validate>required-entry</validate>
					<depends><field id='enable'>1</field></depends>
					<label>Description</label>
				</field>
				<field
					id='identification'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='13'
					translate='label'
					type='select'
				>
					<label>Payment Identification Type</label>
					<source_model>Df\Payment\Source\Identification</source_model>
					<comment><![CDATA[
<p class='df-note'>«<b>Visible ID</b>» is the recommended value for the most shops,
because it allows you to locate a payment in the Robokassa Merchant Backend
knowing only the order's visible identifier.</p>
<p class='df-note'>Robokassa allows only digits in the payment identifiers,
so the «Visible ID» option will not work if order identifiers
contain some other symbols.</p>
<p class='df-note'>For example, the «<a href='https://mage2.pro/t/512' target='_blank'>Sales Documents Numeration</a>» extension allows you to implement a custom order numeration scheme like <b>ORD-2016/07-00327</b>.</p>
<p class='df-note'>If you use such non-standard orders numbers, then choose the «<b>Internal ID</b>» value for the «Payment Identification Type» option.</p>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='requireBillingAddress'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='15'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Require the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behavior.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='min_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='16'
					translate='label'
					type='text'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='17'
					translate='label'
					type='text'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='18'
					translate='label'
					type='select'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='19'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
<!--
2016-03-08
«The negative syntax for a backend config field <depends> condition»
https://mage2.pro/t/329
-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>